.timer-now {
  background-color: blueviolet;
  padding: 24px 24px;
  text-align: start;
}

input {
  border: 0 solid #808080;
  border-radius: 4px;
  padding: 0 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  width: 350px;
}
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding: 0 8px;
  color: #fff;
  background-color: #4e75ff;
  border: 0 solid #4e75ff;
  border-radius: 8px;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  border: 1px solid #474747;
  background-color: #474747;
  opacity: 0.8;
  cursor: not-allowed;
  /* pointer-events: none; */
}

.timer {
  margin-top: 8px;
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 48px;
  font-weight: 400;
}

.label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
